{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron">
  <h1>Rate Your Plate</h1>
  <p>The app that lets you rate your food and dining experience with ease!</p>
</div>
{% else %}
<div class="jumbotron">
  <h1> Welcome to Rate Your Plate </h1>
  <p> The food rating app for everyone </p>
  <p><a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}">Sign up</a></p>
  <p><a class="btn btn-lg btn-primary" href="{% url 'auth_login' %}">Login</a></p>

</div>
{% endif %}
{% endblock %}